/* Catppuccin Mocha */
window {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: 2px solid #89b4fa;
    border-radius: 10px;
}

#input {
    margin: 10px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #45475a;
    border-radius: 8px;
    background-color: #313244;
    color: #cdd6f4;
    font-size: 14px;
}

#input:focus {
    border-bottom: 2px solid #89b4fa;
}

#inner-box {
    margin: 0 10px 10px 10px;
}

#outer-box {
    margin: 0;
    padding: 0;
}

#entry {
    padding: 8px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #313244;
    color: #cba6f7;
}

#text {
    margin: 0 5px;
}
